{% block addcategory %}
<form method="POST" class="addcategoryform">
  <input type="hidden" name="{{ csrf.NameKey }}" value="{{ csrf.Name }}" />
  <input type="hidden" name="{{ csrf.ValueKey }}" value="{{ csrf.Value }}" />
  <table class="datapost">
    <tr>
      <td><label for="name">Name</label></td>
      <td>
        <input
          id="name"
          name="name"
          type="text"
          value="{{ oldData.name }}"
          required
        />
      </td>
      <td>
        <button type="submit" value="Add Category" class="btnSubmit">
          Add Category
        </button>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <span class="error"> {{ errors.name | first }}</span>
      </td>
      <td></td>
    </tr>
  </table>
</form>
{% endblock addcategory %}
