{% extends 'base.html.twig' %} {% use "navbar.html.twig" %} {% use
"category/addcategory.html.twig" %} {% block content %} {% set active =
"categories" %}
{{ block("navbar") }}

{{ block("addcategory") }}

<br />

<table class="datatable">
  <tbody>
    <tr>
      <th>Name</th>
    </tr>
    {% for category in categories %}
    <tr id="category_row{{ category.id }}">
      <td id="category_name{{ category.id }}">{{ category.name }}</td>

      <td>
        <button
          onclick="catOpenModal({
            'name':'{{ category.name }}',
            'id':'{{ category.id }}'
          })"
          class="redBtn"
        >
          Change
        </button>
      </td>

      <td>
        <form action="/categories/{{ category.id }}" method="post">
          <input
            type="hidden"
            name="{{ csrf.NameKey }}"
            value="{{ csrf.Name }}"
          />
          <input
            type="hidden"
            name="{{ csrf.ValueKey }}"
            value="{{ csrf.Value }}"
          />
          <input type="hidden" name="_METHOD" value="DELETE" />
          <button type="submit" class="redBtn">X</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include "category/updatecategory.html.twig" %} {% endblock content %}
