{% extends 'base.html.twig' %} {% use "navbar.html.twig" %} {% use
"addcategory.html.twig" %}{% block content %} {% set active = "categories" %}
{{ block("navbar") }}

{{ block("addcategory") }}

<br />

<table class="datatable">
  <tbody>
    <tr>
      <th>Name</th>
    </tr>
    {% for category in categories %}
    <tr>
      <td>{{ category.name }}</td>
      <td>
        <form action="/categories/{{ category.id }}" method="post">
          <input
            type="hidden"
            name="{{ csrf.NameKey }}"
            value="{{ csrf.Name }}"
          />
          <input
            type="hidden"
            name="{{ csrf.ValueKey }}"
            value="{{ csrf.Value }}"
          />
          <input type="hidden" name="_METHOD" value="DELETE" />
          <button type="submit">X</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
