{% extends 'base.html.twig' %} {% block content %}
<form method="POST">
  <input type="hidden" name="{{ csrf.NameKey }}" value="{{ csrf.Name }}" />
  <input type="hidden" name="{{ csrf.ValueKey }}" value="{{ csrf.Value }}" />
  <table class="form">
    <tbody>
      <tr>
        <td>
          <input
            id="email"
            name="email"
            type="text"
            value="{{ oldData.email }}"
            required
            class="{{ errors.email ? 'error-border' : '' }}"
            placeholder="Email"
          />
        </td>
      </tr>

      <tr>
        <td>
          <input
            id="password"
            name="password"
            type="password"
            value=""
            class="{{ errors.password ? 'error-border' : '' }}"
            required
            placeholder="Password"
          />
        </td>
      </tr>

      <tr>
        <td>
          <div>
            <a href="/register">Don't have an account?</a>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <input
            id="submitbtn"
            type="submit"
            value="Log in"
            class="btnSubmit"
          />
        </td>
      </tr>

      <tr>
        <td>
          <span class="error">
            {{ errors.email | first }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</form>
{% endblock %}
