{% extends 'base.html.twig' %} {% use "navbar.html.twig" %} {% use
"addtransaction.html.twig" %}{% block content %} {% set active = "transactions"
%}
{{ block("navbar") }}

{{ block("addtransaction") }}

<br />

<table class="datatable">
  <tbody>
    <tr>
      <th>Description</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Category</th>
    </tr>
    {% for transaction in transactions %}
    <tr>
      <td>{{ transaction.description }}</td>
      <td>{{ transaction.amount }}$</td>
      <td>{{ transaction.date.format("d.m.Y.") }}</td>
      <td>{{ transaction.category.getName() }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
